<!DOCTYPE html>

<html>
<head>
    <title>Patient Stay</title>
<!--    Turn refresh on for view and off for admin portal -->
<!--    <meta http-equiv="refresh" content="60">-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/view.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>


    <body>
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #006652;">
          <!-- Brand -->
          <a class="navbar-brand" href="#">Patient Stay</a>

          <!-- Links -->
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link" href="#">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Edit</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Location
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Kaplan House</a>
                <a class="dropdown-item" href="#">Lincoln House</a>
              </div>
            </li>
          </ul>

        </nav>
        <br />
        <div class="current-date"><p>As of: <span id="date-time"></span></p></div>
        <br />

        <table class="styled-table">
            <thead>
                <tr>
                    <td>Room</td>
                    <td>Status</td>
                    <td>Patient Name</td>
                    <td>LOC</td>
                    <td>Visitors</td>
                    <td>Insurance</td>
                    <td>Admission Date</td>
                    <td>Comment</td>
                    <td>  </td>
                    <td>  </td>
                </tr>
            </thead>

            {% for room in data['rooms'] %}

            <tr class="active-row">
                <td>{{ room['room']}}</td>
                {% if room['occupied'] == True %}
                <td style="background-color: #ffbd99;">Occupied</td>
                {% elif room['occupied'] == False %}
                <td style="background-color: #aed7e6;">Vacant</td>
                {% elif room['occupied'] == "closed" %}
                <td style="background-color: #FF0000;">Closed</td>
                {% endif %}
                <td>{{room['patient_name']}}</td>
                <td>{{room['loc']}}</td>
                <td>{{room['visitors']}}</td>
                <td>{{room['patient_insurance']}}</td>
                <td>{{room['admission_date']}}</td>
<!-- Button for comment. Shows if comment exists               -->
                <td>
                {% if room['comment'] | length > 0 %}
                    <button type="image" data-id="{{room['room']}}" class="comBtn btn"><img src="static/comment.png"></button>
                {% endif %}
                </td>
<!-- Button for patient update               -->
<!--                <td><div class="openBtn"><input type="image" id="myBtn" value="{{room['room']}}" onclick="passRoom({{room['room']}})" src="static/user.png" alt="Update" width="18" height="18"></div></td>-->
                <td><button type="image" data-id="{{room['room']}}" class="patientBtn btn"><img src="static/user.png" data-target="#staticBackdrop"></button></td>
<!-- Button for room clear/close             -->
                <td><form action="/clear/" method="post"><input type="submit" name="clear" value="{{room['room']}}" style="background-image: url('static/exit.png'); border:none; background-repeat:no-repeat; background-size: 18px 18px; cursor:pointer; color:transparent;"></form></td>
<!--                <td>-->
<!--                    <div class="dropdown">-->
<!--                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" >-->
<!--                         <img src="static/exit.png">-->

<!--                        </button>-->
<!--                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">-->
<!--                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Close Room</a></li>-->
<!--                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Open Room</a></li>-->
<!--                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Remove Patient</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </td>-->


                <div id="patientModal" class="modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true" >

                  <!-- Update patient modal content -->
                  <div class="modal-content">
                    <span class="close">x</span>
                      <br />
                      <h3>Update Patient</h3>
                      <br />
                    <div class="patient-form" id="patient-form">
                    <form action="/addPatient/" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Name" value="" required>
                        </div>
                        <div class="form-group col-md-4"> <!-- Date input -->
                            <label class="control-label" for="date">Admission Date</label>
                            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" autocomplete="off" value="{{room['admission_date']}}" required/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputLOC">LOC</label>
                            <input type="text" class="form-control" id="inputLOC" name="inputLOC" value="{{room['loc']}}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputInsurance">Insurance</label>
                            <input type="text" class="form-control" id="inputInsurance" name="inputInsurance" value="{{room['patient_insurance']}}" >
                    </div>
                        <div class="form-group col-md-4">
                            <label for="inputVisitors">Visitors</label>
                            <select id="inputVisitors" class="form-control" name="inputVisitors" value="{{room['visitors']}}">
                                <option>
                                    <option  selected value="All">All</option>
                                    <option value="Restricted">Restricted</option>
                                    <option value="None">None</option>
                                </option>
                            </select>
                        </div>
                    </div>
                        <div class="form-group">
                            <label for="inputComment">Comment</label>
                            <textarea id="inputComment" class="form-control" name="inputComment" rows="3" value="{{room['comment']}}" >{{room['comment']}}</textarea>
                        </div>
                        <br />

                    <button type="submit" name="update" id="update" value="" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                  </div>
                </div>

                {%endfor%}
            </tr>
        </table>

        <!-- Comment modal -->
        <div class="modal" id="comModal" >

            <!-- Update patient modal content -->
            <div class="modal-content">
                <span class="closeComment">x</span>
                <br />
                <h5>Room Comments</h5>
                <div id="modal-body"></div>
                <br />
            </div>
        </div>



        <br />
        <br />
        <div class="list-header"><h2>Waitlist</h2></div>
        <br />


         <table class="styled-table">
            <thead>
                <tr>
                    <td> </td>
                    <td>Patient Name</td>
                    <td>LOC</td>
                    <td>Current Location</td>
                    <td>Insurance</td>
                    <td>Date on Waitlist</td>
                    <td>Approved by:</td>
                    <td>Contact/RN</td>
                    <td>Comments</td>
                    <td>  </td>
                    <td>  </td>
                    <td>  </td>
                </tr>
            </thead>

             {% for wait in waitData['waitList'] %}

            <tr class="active-row">
                <td>{{ wait['slot']}}</td>
                <td>{{wait['patient_name']}}</td>
                <td>{{wait['patient_insurance']}}</td>
                <td>{{wait['loc']}}</td>
                <td>{{wait['currentLocation']}}</td>
                <td>{{wait['waitListAddedDate']}}</td>
                <td>{{wait['approvedBy']}}</td>
                <td>{{wait['contact']}}</td>
                <td>{{wait['comments']}}</td>
                <td><form action="" method="post"><input type="submit" name="add" value="{{wait['slot']}}" style="background-image: url('static/user.png'); border:none; background-repeat:no-repeat; background-size: 16px 16px; cursor:pointer; color:transparent;"></form></td>
                <td><form action="" method="post"><input type="submit" name="move" value="{{wait['slot']}}" style="background-image: url('static/move.png'); border:none; background-repeat:no-repeat; background-size: 16px 16px; cursor:pointer; color:transparent;"></form></td>
                <td><form action="/clearGIPSlot/" method="post"><input type="submit" name="clearGIPSlot" value="{{wait['slot']}}" style="background-image: url('static/exit.png'); border:none; background-repeat:no-repeat; background-size: 16px 16px; cursor:pointer; color:transparent;"></form></td>


                {%endfor%}

         </table>


<!--        <br />-->
<!--        <br />-->
<!--        <div class="list-header"><h2>Respite Waitlist</h2></div>-->
<!--        <br />-->


<!--         <table class="styled-table">-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <td> </td>-->
<!--                    <td>Patient Name</td>-->
<!--                    <td>LOC</td>-->
<!--                    <td>Current Location</td>-->
<!--                    <td>Insurance</td>-->
<!--                    <td>Date on Waitlist</td>-->
<!--                    <td>Approved by:</td>-->
<!--                    <td>Contact/RN</td>-->
<!--                    <td>Comments</td>-->
<!--                    <td>  </td>-->
<!--                    <td>  </td>-->
<!--                    <td>  </td>-->
<!--                </tr>-->
<!--            </thead>-->

<!--             {% for wait in respData['waitList'] %}-->

<!--            <tr class="active-row">-->
<!--                <td>{{ wait['slot']}}</td>-->
<!--                <td>{{wait['patient_name']}}</td>-->
<!--                <td>{{wait['patient_insurance']}}</td>-->
<!--                <td>{{wait['loc']}}</td>-->
<!--                <td>{{wait['currentLocation']}}</td>-->
<!--                <td>{{wait['waitListAddedDate']}}</td>-->
<!--                <td>{{wait['approvedBy']}}</td>-->
<!--                <td>{{wait['contact']}}</td>-->
<!--                <td>{{wait['comments']}}</td>-->
<!--                <td><form action="" method="post"><input type="submit" name="add" value="{{wait['slot']}}" style="background-image: url('static/user.png'); border:none; background-repeat:no-repeat; background-size: 16px 16px; cursor:pointer; color:transparent;"></form></td>-->
<!--                <td><form action="" method="post"><input type="submit" name="move" value="{{wait['slot']}}" style="background-image: url('static/move.png'); border:none; background-repeat:no-repeat; background-size: 16px 16px; cursor:pointer; color:transparent;"></form></td>-->
<!--                <td><form action="" method="post"><input type="submit" name="clear" value="{{wait['slot']}}" style="background-image: url('static/exit.png'); border:none; background-repeat:no-repeat; background-size: 16px 16px; cursor:pointer; color:transparent;"></form></td>-->


<!--                {%endfor%}-->
<!--         </table>-->
        <br />
        <br />
        <br />

    <script src= "{{ url_for('static',filename='js/view.js') }}"></script>
    </body>
</html>
