<!DOCTYPE html>

<html>
<head>
    <title>Patient Stay</title>
<!--    Turn refresh on for view and off for admin portal -->
<!--    <meta http-equiv="refresh" content="60">-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/view.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>


    <body>
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #006652;">
          <!-- Brand -->
          <a class="navbar-brand" href="#">Patient Stay</a>

          <!-- Links -->
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link" href="#">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Edit</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Location
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Kaplan House</a>
                <a class="dropdown-item" href="#">Lincoln House</a>
              </div>
            </li>
          </ul>

        </nav>
        <br />
        <div class="current-date"><p>As of: <span id="date-time"></span></p></div>
        <br />


        <table class="styled-table">
            <thead>
                <tr>
                    <td>Room</td>
                    <td>Status</td>
                    <td>Patient Name</td>
                    <td>LOC</td>
                    <td>Visitors</td>
                    <td>Insurance</td>
                    <td>Admission Date</td>
                    <td>Comment</td>
                    <td>Update</td>
                    <td>Actions</td>
                </tr>
            </thead>

            {% for room in data['rooms'] %}

            <tr class="active-row">
                <td>{{ room['room']}}</td>
                {% if room['occupied'] == True %}
                <td style="background-color: #ffbd99;">Occupied</td>
                {% elif room['occupied'] == False %}
                <td style="background-color: #aed7e6;">Vacant</td>
                {% elif room['occupied'] == "closed" %}
                <td style="background-color: #f94144;">Closed</td>
                {% endif %}
                <td>{{room['patient_name']}}</td>
                <td>{{room['loc']}}</td>
                <td>{{room['visitors']}}</td>
                <td>{{room['patient_insurance']}}</td>
                <td>{{room['admission_date']}}</td>
<!-- Button for comment. Shows if comment exists               -->
                <td>
                {% if room['comment'] | length > 0 %}
                    <button type="image" data-id="{{room['room']}}" class="comBtn btn"><img src="static/comment.png"></button>
                {% endif %}
                </td>
<!-- Button for patient update               -->
                {% if room['occupied'] == "closed" %}
                    <td><img src="static/gray-user.png"></td>
                {% else %}
                    <td><button type="image" data-id="{{room['room']}}" class="patientBtn btn"><img src="static/user.png" data-target="#staticBackdrop"></button></td>
                {% endif %}
<!-- Button for room clear/close             -->
                {% if room['occupied'] == "closed" %}
                <td>
                    <div class="dropdown">
                      <button class="btn btn-sm dropdown-toggle" type="button" id="openRmDropBtn" data-toggle="dropdown" aria-expanded="false" >
                        <img src="static/exit.png">
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                        <li>
                          <button class="dropdown-item closeRoomBtn" type="button" data-id="{{room['room']}}">Edit Comment</button>
                        </li>
                        <li>
                            <button class="dropdown-item openRoomBtn" type="button" data-id="{{room['room']}}">Open Room</button>
                        </li>
                      </ul>
                    </div>
                </td>
                {% elif room['occupied'] == false %}
                <td>
                    <div class="dropdown">
                      <button class="btn btn-sm dropdown-toggle" type="button" id="closeRmDropdown" data-toggle="dropdown" aria-expanded="false" >
                        <img src="static/exit.png">
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                        <li>
                          <button class="dropdown-item closeRoomBtn" type="button" data-id="{{room['room']}}">Close Room</button>
                        </li>
                      </ul>
                    </div>
                </td>
                {% else %}
                <td>
                    <div class="dropdown">
                      <button class="btn btn-sm dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown" aria-expanded="false" >
                        <img src="static/exit.png">
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                        <li>
                            <button class="dropdown-item movePatientBtn" type="button" data-id="{{room['room']}}">Move Patient</button>
                        </li>
                        <li>
                            <button class="dropdown-item clearPatientBtn" type="button" data-id="{{room['room']}}">Remove Patient</button>
                        </li>
                        <li>
                          <button class="dropdown-item closeRoomBtn" type="button" data-id="{{room['room']}}">Close Room</button>
                        </li>
                      </ul>
                    </div>
                </td>
                {% endif %}


                {%endfor%}
            </tr>
        </table>

        <!-- Update Patient Modal -->
        <div class="modal" id="patientModal" tabindex="-1" role="dialog" aria-labelledby="patientModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="patientModalTitle">Update Patient</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="patient-form" id="patient-form">
                    <form action="/addPatient/" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="inputName">Name</label>
                                <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Name" value="" required>
                            </div>
                            <div class="form-group col-md-4"> <!-- Date input -->
                                <label class="control-label" for="date">Admission Date</label>
                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text" autocomplete="off" value="" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputLOC">LOC</label>
                                <input type="text" class="form-control" id="inputLOC" name="inputLOC" value="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputInsurance">Insurance</label>
                                <input type="text" class="form-control" id="inputInsurance" name="inputInsurance" value="" >
                        </div>
                            <div class="form-group col-md-4">
                                <label for="inputVisitors">Visitors</label>
                                <select id="inputVisitors" class="form-control" name="inputVisitors" value="">
                                    <option>
                                        <option  selected value="All">All</option>
                                        <option value="Restricted">Restricted</option>
                                        <option value="None">None</option>
                                    </option>
                                </select>
                            </div>
                        </div>
                            <div class="form-group">
                                <label for="inputComment">Comment</label>
                                <textarea id="inputComment" class="form-control" name="inputComment" rows="6" value="" ></textarea>
                            </div>
                            <br />

                        <button type="submit" name="update" id="update" value="" class="btn btn-primary">Submit</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Room Comment Modal -->
        <div class="modal" id="comModal" tabindex="-1" role="dialog" aria-labelledby="comModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="comModalTitle">Comments:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="modal-body"></div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>


        <!-- Clear Patient Modal -->
        <div class="modal" id="clearPatientModal" tabindex="-1" role="dialog" aria-labelledby="clearPatientModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="clrPatientModalTitle">Remove Patient</h5>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to remove the patient from this room?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left clearYes" data-id="" >Remove</button>
                <button type="button" class="btn btn-secondary pull-right clearNo" data-id="" >Cancel</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Close Room Modal -->
        <div class="modal" id="closeRoomModal" tabindex="-1" role="dialog" aria-labelledby="clearPatientModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="closeRoomTitle">Close room</h5>
              </div>
              <div class="modal-body">
                  <p>Patient will be removed if present.</p>
                  <form action="" method="POST">
                      <div class="form-group">
                        <label for="roomCloseComment">Reason for closing:</label>
                        <textarea class="form-control" id="roomCloseComment" name="roomCloseComment" rows="4" required></textarea>
                      </div>
                      <button type="input" class="btn btn-primary pull-left closeYes" data-id="" >Close Room</button>
                      <button type="button" class="btn btn-secondary pull-right closeNo" data-id="" >Cancel</button>
                  </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Open Room Modal -->
        <div class="modal" id="openRoomModal" tabindex="-1" role="dialog" aria-labelledby="openRoomTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="OpenRoomTitle">Open Room?</h5>
              </div>
              <div class="modal-body">
                  <div class="modal-body">
                    <p>Re-open this room.</p>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left openYes" data-id="" >Open Room</button>
                <button type="button" class="btn btn-secondary pull-right openNo" data-id="" >Cancel</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Move Patient Modal -->
        <div class="modal" id="movePatientRoomModal" tabindex="-1" role="dialog" aria-labelledby="movePatientRoomModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="closeRoomModalTitle">Assign to New Room</h5>
              </div>
              <div class="modal-body">
                <p>Move patient to room:</p>
                  <select id="roomNumber" name="roomNumber">
                      {% for room in data['rooms'] %}
                      <option value="{{room['room']}}">{{room['room']}}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left moveRoomYes" data-id="" >Move Patient</button>
                <button type="button" class="btn btn-secondary pull-right moveRoomNo" data-id="" >Cancel</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Move Patient Response Modal -->
        <div class="modal" id="movePatResponseModal" tabindex="-1" role="dialog" aria-labelledby="movePatResponseModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="movePatResponseModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body moveRoomResp">

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary moveRoomConf" data-id="" >Ok</button>
              </div>
            </div>
          </div>
        </div>


        <br />
        <br />
        <div class="list-header"><h2>Waitlist</h2></div>
        <br />


         <table class="styled-table">
            <thead>
                <tr>
                    <td> </td>
                    <td>Patient Name</td>
                    <td>LOC</td>
                    <td>Current Location</td>
                    <td>Insurance</td>
                    <td>Date on Waitlist</td>
                    <td>Approved by:</td>
                    <td>Contact/RN</td>
                    <td>Comments</td>
                    <td>  </td>
                    <td>  </td>
                </tr>
            </thead>

             {% for wait in waitData['waitList'] %}

            <tr class="active-row">
                <td>{{ wait['slot']}}</td>
                <td>{{wait['patient_name']}}</td>
                <td>{{wait['loc']}}</td>
                <td>{{wait['currentLocation']}}</td>
                <td>{{wait['patient_insurance']}}</td>
                <td>{{wait['waitListAddedDate']}}</td>
                <td>{{wait['approvedBy']}}</td>
                <td>{{wait['contact']}}</td>
                <td>
                {% if wait['comments'] | length > 0 %}
                    <button type="image" data-id="{{wait['slot']}}" class="comWaitBtn btn"><img src="static/comment.png"></button>
                {% endif %}
                </td>
                <td><button type="image" data-id="{{wait['slot']}}" class="patientWaitBtn btn"><img src="static/user.png" data-target="#staticBackdrop"></button></td>
                {% if wait['occupied'] == true %}
                <td>
                    <div class="dropdown">
                      <button class="btn btn-sm dropdown-toggle" type="button" id="waitBtnDropdown" data-toggle="dropdown" aria-expanded="false" >
                        <img src="static/exit.png">
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="waitDropdownMenu">
                        <li>
                            <button class="dropdown-item moveWaitToRoomBtn" type="button" data-id="{{wait['slot']}}">Assign to room</button>
                        </li>
                        <li>
                            <button class="dropdown-item moveWaitBtn" type="button" data-id="{{wait['slot']}}">Move Patient</button>
                        </li>
                        <li>
                            <button class="dropdown-item removeWaitBtn" type="button" data-id="{{wait['slot']}}">Remove Patient</button>
                        </li>
                      </ul>
                    </div>
                </td>

                {% else %}
                <td><img src="static/exit.png"></td>
                {% endif %}

                {%endfor%}

         </table>

        <br />
        <br />
        <br />


        <!-- Add Patient to waitlist Modal -->
        <div class="modal" id="patientWaitModal" tabindex="-1" role="dialog" aria-labelledby="patientWaitModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="patientWaitModalTitle">Add Patient</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="patientWait-form" id="patientWait-form">
                    <form action="/addWaitListPatient/" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="inputName">Name</label>
                                <input type="text" class="form-control" id="inputWaitName" name="inputWaitName" placeholder="Name" value="" required>
                            </div>
                            <div class="form-group col-md-4"> <!-- Date input -->
                                <label class="control-label" for="date">Admission Date</label>
                                <input class="form-control" id="waitDate" name="waitDate" placeholder="MM/DD/YYY" type="text" autocomplete="off" value="" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputLOC">LOC</label>
                                <input type="text" class="form-control" id="inputWaitLOC" name="inputWaitLOC" value="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputInsurance">Insurance</label>
                                <input type="text" class="form-control" id="inputWaitInsurance" name="inputWaitInsurance" value="" >
                        </div>
                            <div class="form-group col-md-4">
                                <label for="inputWaitVisitors">Visitors</label>
                                <select id="inputWaitVisitors" class="form-control" name="inputWaitVisitors" value="">
                                    <option>
                                        <option  selected value="All">All</option>
                                        <option value="Restricted">Restricted</option>
                                        <option value="None">None</option>
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputLOC">Approved by:</label>
                                <input type="text" class="form-control" id="inputWaitAppr" name="inputWaitAppr" value="">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputInsurance">Contact/RN</label>
                                <input type="text" class="form-control" id="inputWaitContact" name="inputWaitContact" value="" >
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputInsurance">Current Location</label>
                                <input type="text" class="form-control" id="inputWaitLocation" name="inputWaitLocation" value="" >
                            </div>
                        </div>
                            <div class="form-group">
                                <label for="inputWaitComment">Comment</label>
                                <textarea id="inputWaitComment" class="form-control" name="inputWaitComment" rows="6" value="" ></textarea>
                            </div>
                            <br />

                        <button type="submit" name="waitUpdate" id="waitUpdate" value="" class="btn btn-primary">Submit</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Waitlist Comment Modal -->
        <div class="modal" id="waitComModal" tabindex="-1" role="dialog" aria-labelledby="comModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="waitComModalTitle">Patient Comments:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="waitModal-body"></div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>


        <!-- Clear wait slot modal -->
        <div class="modal" id="clearWaitSlotModal" tabindex="-1" role="dialog" aria-labelledby="clearPatientModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="clearWaitSlotModalTitle">Clear wait list slot?</h5>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to clear the patient from the wait list?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left clearWaitYes" data-id="" >Clear Patient</button>
                <button type="button" class="btn btn-secondary pull-right clearWaitNo" data-id="" >Cancel</button>
              </div>
            </div>
          </div>
        </div>


        <!-- Move Patient Modal -->
        <div class="modal" id="waitPatientToRoomModal" tabindex="-1" role="dialog" aria-labelledby="waitPatientToRoomModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="waitPatientToRoomModalTitle">Move to room</h5>
              </div>
              <div class="modal-body">
                <p>Move this patient from wait list to room:</p>
                  <select id="toRoomNumber" name="roomNumber">
                      {% for room in data['rooms'] %}
                      <option value="{{room['room']}}">{{room['room']}}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left waitToRoomYes" data-id="" >Move Patient</button>
                <button type="button" class="btn btn-secondary pull-right waitToRoomNo" data-id="" >Cancel</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Move Patient Response Modal -->
        <div class="modal" id="waitPatResponseModal" tabindex="-1" role="dialog" aria-labelledby="waitPatResponseModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="waitPatResponseModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body waitToRoomResp">

              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary moveRoomConf" data-id="" >Ok</button>
              </div>
            </div>
          </div>
        </div>



    <script src= "{{ url_for('static',filename='js/view.js') }}"></script>
    </body>
</html>
